/* RecoverableFiles.css */

.recoverable-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
}

.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.back-button:hover {
  background-color: #0056b3;
}

.back-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.grid-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 80vh; /* Add a maximum height to prevent overflow */
  overflow-y: auto; /* Enable vertical scrolling */
}

.filesystem-grid {
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

/* Responsive grid adjustments */
@media (min-width: 1200px) {
  .filesystem-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 items per row for large screens */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .filesystem-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 items per row for medium screens */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .filesystem-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row for small screens */
  }
}

@media (max-width: 767px) {
  .filesystem-grid {
    grid-template-columns: 1fr; /* 1 item per row for extra small screens */
  }
}

.recover-button {
  display: flex; /* Add flexbox display */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-top: 20px;
  padding: 15px 30px; /* Increased padding */
  font-size: 1.2em; /* Increased font size */
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Stronger shadow */
  transition: background-color 0.3s, transform 0.3s;
}

.recover-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

.recover-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
