.recovery {
  padding: 20px;
}

.success-container {
  text-align: center;
}

.success-gif {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
