.select-disk {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  background-image: linear-gradient(315deg, rgba(19, 15, 64, 0.4) 0%, rgba(0, 0, 0, 0.4) 74%); /* Tint gradient */
  backdrop-filter: blur(10px); /* Blur effect */
  color: rgba(255, 255, 255, 0.9); /* White text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.table-and-button {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.output-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  margin-left: 60px;
  background-color: rgba(19, 15, 64, 0.4); /* Tint matching background with transparency */
  background-image: linear-gradient(315deg, rgba(19, 15, 64, 0.4) 0%, rgba(0, 0, 0, 0.4) 74%); /* Tint gradient */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 12px; /* Rounded borders for table */
  overflow: hidden; /* Ensure child elements respect the border radius */
}

.output-table th,
.output-table td {
  border: 1px solid rgba(255, 255, 255, 0.2); /* White border with some transparency */
  padding: 12px;
  text-align: left;
}

.output-table th {
  background-color: rgba(0, 0, 0, 0.8); /* Dark background for headers */
  color: white; /* White text */
}

.output-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Lighter background color on hover */
  cursor: pointer;
}

.output-table tbody tr.selected {
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white tint for selected disk */
}

.output-table thead th:first-child {
  border-top-left-radius: 12px; /* Top-left corner radius */
}

.output-table thead th:last-child {
  border-top-right-radius: 12px; /* Top-right corner radius */
}

.output-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px; /* Bottom-left corner radius */
}

.output-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px; /* Bottom-right corner radius */
}

.button {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: -60px;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .select-disk {
    padding: 15px;
    margin: 15px auto;
    border-width: 1px;
  }

  .output-table th,
  .output-table td {
    padding: 10px;
  }

  .output-table {
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .select-disk {
    padding: 10px;
    margin: 10px auto;
    border-width: 1px;
  }

  .output-table th,
  .output-table td {
    padding: 8px;
  }

  .output-table {
    font-size: 14px;
    margin-top: 10px;
  }

  .button {
    margin-top: 10px;
  }
}
